<li>
	<span class="timestamp"><%= appointment.starttime %> - <%= appointment.endtime %></span>
	<span class="content"><%= appointment.title %></span>
	<span class="content"><%= appointment.description %></span>
	<span class="content"><%= appointment.place %></span>
</li>